* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
nav h1 a {
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: 2px;
  color: darkolivegreen;
  text-decoration: none;
}
nav .navbar {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
nav .navbar p a {
  color: darkolivegreen;
  text-decoration: none;
  cursor: pointer;
}
nav .navbar p a:hover {
  text-decoration: underline;
}
nav .side-bar {
  display: none;
  cursor: pointer;
  font-size: 20px;
  color: darkolivegreen;
}

.sidenavbar-links {
  position: fixed;
  top: 0;
  left: -60%;
  height: 100%;
  width: 40%;
  background-color: darkolivegreen;
  z-index: 2;
  padding: 20px;
  transition: 2s;
}
.sidenavbar-links .close-bar {
  text-align: right;
  font-size: x-large;
  cursor: pointer;
  color: white;
}
.sidenavbar-links .sidenavbar-link p {
  padding: 10px;
  margin-top: 10px;
}
.sidenavbar-links .sidenavbar-link p a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.contact h1 {
  text-decoration: underline;
  letter-spacing: 1px;
  color: darkolivegreen;
}
.contact .get-in-touch {
  padding: 20px;
  flex-basis: 40%;
}
.contact .get-in-touch p {
  margin-top: 5px;
}
.contact .get-in-touch form {
  width: 100%;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}
.contact .get-in-touch form label {
  color: darkolivegreen;
  margin-top: 5px;
}
.contact .get-in-touch form input,
.contact .get-in-touch form textarea {
  padding: 10px;
  border: 1px solid darkolivegreen;
  outline: none;
}
.contact .get-in-touch form textarea {
  margin-top: 5px;
  height: 50px;
}
.contact .get-in-touch form button {
  color: white;
  background-color: darkolivegreen;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 30%;
  margin-top: 20px;
  align-self: self-end;
}
.contact .find-us {
  padding: 20px;
  flex-basis: 40%;
}
.contact .find-us ul {
  padding: 10px;
  margin-top: 5px;
}
.contact .find-us ul li {
  margin-top: 5px;
}
.contact .find-us img {
  margin-top: 10px;
  width: 100%;
}

.overlay-response {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  display: none;
}
.overlay-response .response {
  background-color: darkolivegreen;
  color: white;
  padding: 30px;
  border-radius: 20px;
  z-index: 4;
  text-align: center;
}
.overlay-response .response i {
  background-color: lightgreen;
  border-radius: 100%;
  color: white;
  padding: 5px;
  margin-left: 10px;
}
.overlay-response .response form button {
  color: darkolivegreen;
  background-color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 30px;
}

footer {
  background-color: darkolivegreen;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
}
footer .icon {
  margin-top: 7px;
}
footer .icon a {
  text-decoration: none;
}
footer .icon a i {
  background-color: white;
  color: darkolivegreen;
  border-radius: 50%;
  padding: 10px;
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s;
}
footer .icon a i:hover {
  transform: translateY(-5px);
}

/* Media Query */
@media screen and (max-width: 640px) {
  nav h1 a {
    font-size: 30px;
  }
  nav .side-bar {
    display: block;
  }
  nav .navbar {
    display: none;
  }
  .contact {
    flex-direction: column;
  }
  .contact h1 {
    font-size: 20px;
  }
  .contact .get-in-touch,
  .contact .find-us {
    flex-basis: 100%;
  }
  .contact .get-in-touch p,
  .contact .get-in-touch form label,
  .contact .get-in-touch ul li,
  .contact .find-us p,
  .contact .find-us form label,
  .contact .find-us ul li {
    font-size: 13px;
  }
  .overlay-response .response {
    width: 50%;
    font-size: 15px;
  }
  footer {
    font-size: 12px;
  }
  footer .icon i {
    padding: 5px;
    font-size: 14px;
  }
}/*# sourceMappingURL=contact.css.map */