* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 a {
    font-size: 40px;
    letter-spacing: 2px;
    color: darkolivegreen;
    text-decoration: none;
}

nav .navbar {
    display: flex;
    column-gap: 30px;

}

nav .navbar a {
    color: darkolivegreen;
    text-decoration: none;
    cursor: pointer;
}

nav .navbar a:hover {
    text-decoration: underline;
}

nav .side-bar {
    display: none;
    color: darkolivegreen;
    cursor: pointer;
    font-size: 20px;
}

.sidenavbar-links {
    background-color: darkolivegreen;
    height: 100%;
    width: 30%;
    position: fixed;
    top: 0;
    left: -50%;
    padding: 20px;
    transition: 2s;
    z-index: 2;

}

.sidenavbar-links .close-bar {
    text-align: right;
    font-size: x-large;
    cursor: pointer;
    color: white;
}

.sidenavbar-links .sidenavbar-link p {
    padding: 10px;
    margin-top: 10px;

}

.sidenavbar-links .sidenavbar-link a {
    text-decoration: none;
    color: white;
    cursor: pointer;

}

.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.contact .get-in-touch {
    padding: 20px;
    flex-basis: 40%;

}

.contact .get-in-touch h1 {
    text-decoration: underline;
    letter-spacing: 1px;
    color: darkolivegreen;
}

.contact .get-in-touch p {
    margin-top: 5px;
}

.contact .get-in-touch form {
    width: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.contact .get-in-touch form label {
    color: darkolivegreen;
    margin-top: 5px;
}

.contact .get-in-touch form input {
    padding: 10px;
    border: 1px solid darkolivegreen;
}

.contact .get-in-touch form input:focus {
    outline: none;
}

.contact .get-in-touch form textarea {
    margin-top: 5px;
    height: 50px;
    padding: 10px;
    border: 1px solid darkolivegreen;
}

.contact .get-in-touch form textarea:focus {
    outline: none;
}

.contact .get-in-touch form button {
    padding: 10px 20px;
    width: 30%;
    border: none;
    background-color: darkolivegreen;
    color: white;
    margin-top: 20px;
    position: relative;
    left: 73%;
    border-radius: 10px;
    cursor: pointer;
}

.contact .find-us {
    padding: 20px;
    flex-basis: 40%;

}

.contact .find-us h1 {
    text-decoration: underline;
    letter-spacing: 1px;
    color: darkolivegreen;
}

.contact .find-us ul {
    padding: 10px;
    margin-top: 5px;
}

.contact .find-us li {
    margin-top: 5px;
}

.contact .find-us img {
    margin-top: 10px;
    width: 100%;

}

.overlay-response {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.response {
    background-color: darkolivegreen;
    color: white;
    padding: 30px;
    border-radius: 20px;
    z-index: 4;
    text-align: center;
}

.response i {
    background-color: lightgreen;
    border-radius: 100%;
    color: white;
    padding: 5px;
    margin-left: 10px;
}

.response form button {
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    background-color: white;
    color: darkolivegreen;
    cursor: pointer;
    margin-top: 30px;
}


footer {
    background-color: darkolivegreen;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

footer .icon {
    margin-top: 7px;
}

footer .icon a {
    text-decoration: none;
}

footer .icon i {
    background-color: white;
    color: darkolivegreen;
    border-radius: 50%;
    padding: 10px;
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

footer .icon i:hover {
    transform: translateY(-5px);
}



/* Media Query */

@media screen and (max-width:640px) {
    nav h1 a {
        font-size: 30px;
    }

    nav .side-bar {

        display: block;
    }

    nav .navbar {
        display: none;
    }

    .contact {
        flex-direction: column;
    }

    .contact .get-in-touch {
        flex-basis: 100%;
    }

    .contact .get-in-touch h1 {
        font-size: 20px;
    }

    .contact .get-in-touch p {
        font-size: 16px;
    }

    .contact .get-in-touch form label {
        font-size: 16px;
    }

    .contact .get-in-touch form button {
        left: 70%;
    }

    .contact .find-us {
        flex-basis: 100%;
    }

    .contact .find-us h1 {
        font-size: 20px;
    }

    .contact .find-us li {
        font-size: 16px;
    }

    .response {
        width: 50%;
        font-size: 15px;
    }

    footer {
        font-size: 12px;
    }

    footer .icon i {
        padding: 5px;
        font-size: 14px;
    }

}