.button-design,
.food-container form button,
.food-container .food-items .food-item button {
  background-color: darkolivegreen;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
}

nav h1 a {
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: 2px;
  color: darkolivegreen;
  text-decoration: none;
}

nav .navbar {
  display: flex;
  -moz-column-gap: 30px;
  column-gap: 30px;
}

nav .navbar p a {
  color: darkolivegreen;
  text-decoration: none;
  cursor: pointer;
}

nav .navbar p a:hover {
  text-decoration: underline;
}

nav .side-bar {
  display: none;
  cursor: pointer;
  font-size: 20px;
  color: darkolivegreen;
}

.sidenavbar-links {
  position: fixed;
  top: 0;
  left: -60%;
  background-color: darkolivegreen;
  height: 100%;
  width: 40%;
  padding: 20px;
  transition: 2s;
  z-index: 2;
}

.sidenavbar-links .close-bar {
  text-align: right;
  font-size: x-large;
  cursor: pointer;
  color: white;
}

.sidenavbar-links .sidenavbar-link p {
  padding: 10px;
  margin-top: 10px;
}

.sidenavbar-links .sidenavbar-link p a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.searchbar form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: 20px;
}

.searchbar form input {
  padding: 20px;
  width: 70%;
  border-radius: 20px;
  border: 1px solid darkolivegreen;
  outline: none;
}

.searchbar form input::-moz-placeholder {
  color: darkolivegreen;
}

.searchbar form input::placeholder {
  color: darkolivegreen;
}

.searchbar form i {
  color: darkolivegreen;
  font-size: 20px;
  margin-left: -40px;
  cursor: pointer;
}

.food-container h1 {
  margin-top: 20px;
  text-align: center;
}

.food-container .food-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.food-container .food-items .food-item {
  flex-basis: 25%;
  text-align: center;
}

.food-container .food-items .food-item img {
  width: 250px;
  height: 200px;
  border-radius: 40px;
  margin-top: 70px;
}

.food-container .food-items .food-item h3 {
  margin-top: 10px;
}

.food-container .food-items .food-item h3 i {
  margin-left: 10px;
}

.food-container .food-items .food-item button {
  margin-top: 20px;
}

.food-container .food-items .food-item button i {
  margin-left: 8px;
}

.food-container form button i {
  margin-left: 5px;
}

.unavail {
  text-align: center;
  display: none;
  margin-top: 40px;
}

.unavail i {
  margin-top: 10px;
  font-size: 80px;
  background-color: yellow;
  border-radius: 50%;
}

footer {
  background-color: darkolivegreen;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
}

footer .icon {
  margin-top: 7px;
}

footer .icon a {
  text-decoration: none;
}

footer .icon a i {
  background-color: white;
  color: darkolivegreen;
  border-radius: 50%;
  padding: 10px;
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s;
}

footer .icon a i:hover {
  transform: translateY(-5px);
}

/* Media Query */
@media screen and (max-width: 640px) {
  nav h1 a {
    font-size: 30px;
  }

  nav .side-bar {
    display: block;
  }

  nav .navbar {
    display: none;
  }

  .food-container h1 {
    font-size: 25px;
  }

  .food-container .food-items {
    flex-direction: column;
  }

  .food-container .food-items .food-item {
    flex-basis: 100%;
  }

  .food-container .food-items form button {
    margin-top: 50px;
  }

  .unavail i {
    font-size: 30px;
  }

  footer {
    font-size: 12px;
  }

  footer .icon i {
    padding: 5px;
    font-size: 10px;
  }
}

/*# sourceMappingURL=main.css.map */