* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', 'sans-serif';
    background-image: url(img/todo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.todo {
    padding: 20px;
    background: transparent;
    box-shadow: 0 0 40px rgba(201, 26, 26, 0.1);
    flex-basis: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 20px;
    font-weight: bolder;
}

.container h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.input-user {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    border-radius: 20px;
    height: 20%;
    border: 1px solid silver;
    padding: 10px;
}

.input-user input {
    flex: 1;
    background-color: transparent;
    width: 100%;
    border: none;
    outline: none;
}

.input-user button {
    background-color: rgb(224, 97, 97);
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    width: 20%;
    height: 100%;
    cursor: pointer;
    transition: all 0.5s;
}

.input-user button:hover {
    background-color: brown;
    transform: translateY(-5px);
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ebe5e5;
    margin-top: 10px;
    padding: 5px;
    border: none;
    border-radius: 20px;
    font-size: 12px;
}

.list-item li {
    list-style: none;
    margin-left: 20px;
}

.list-item #deleteIcon {
    background-color: rgba(187, 11, 11, 0.884);
    color: white;
    padding: 7px;
    border-radius: 50%;
    margin-right: 8px;
    cursor: pointer;
    font-size: 10px;
    float: inline-end;
    transition: all 0.5s;
}

.list-item #deleteIcon:hover {
    background-color: red;
    color: white;
    transform: translateY(-2px);
}

.circle-checked {
    margin-left: 10px;
    font-size: 18px;
    cursor: pointer;
}

.fa-circle-check {
    background-color: green;
    color: white;
    font-size: 20px;
    border-radius: 50%;
}

.completed {
    text-decoration: line-through;
}

/* Media Query */

@media screen and (max-width:600px) {
    body {
        background-image: url(img/mobile\ bg.jpeg);
    }

    .todo {
        flex-basis: 100%;
    }

    li {
        font-size: 12px;
    }
}
