*{
    padding: 0;
    margin: 0;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: crimson;
    font-size: 20px;
}

#wrap{
    width: 100vw;
    height: 85vh;
   display: flex;
   justify-content: center;
   align-items: center;
    border-top: 3px solid black;
}

#btn{

    background-color: #ff004f;
    color: white;
    padding: 20px 40px;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 19px;
    cursor: pointer;
    letter-spacing: 2px;

}

/* ------------Media Query-------------- */

@media screen and (max-width:600px){
    .head{
        font-size: 12px;
    }
}
