//Variables
$primary-color: #FD6569;
$secondary-color: black;
$text-color: white;
$default-size: 20px;
$bg-color: transparent;

//Mixin

@mixin flex($display: flex, $justify-content: start, $align-items: start, $flex-wrap: wrap) {
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-wrap: $flex-wrap;
}

// -----Styling my page----

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'poppins', sans-serif;
}

header {
    @include flex(flex, space-between, center, wrap);
    padding: 10px;
    border-bottom: 1px solid whitesmoke;
    background-color: $primary-color;

    h1 {
        font-size: 45px;
        color: $secondary-color;

        &::first-letter {
            font-size: 55px;
        }
    }

    nav {
        ul {
            @include flex(flex, center, center, nowrap);
            column-gap: 70px;

            li {
                list-style: none;
                display: inline-block;
                font-size: 16px;
                text-transform: uppercase;

                a {
                    text-decoration: none;
                    color: $secondary-color;
                    position: relative;

                    &:hover {
                        color: $text-color;
                    }

                    &::after {
                        content: "";
                        height: 3px;
                        width: 0;
                        background-color: $text-color;
                        position: absolute;
                        left: 0;
                        bottom: -6px;
                        transition: all 0.5s;
                    }

                    &:hover::after {
                        width: 100%;
                    }
                }
            }
        }
    }

    p {
        display: none;
        font-size: $default-size;
    }
}

.searchBar {
    @include flex(flex, center, center, wrap);
    margin-top: 30px;

    input {
        padding: 11px;
        border-radius: 10px;
        border: 1px solid silver;
        outline: none;
        width: 40%;
    }

    i {
        background-color: $primary-color;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 12px 25px;
        margin-left: -50px;
    }
}

.sidenav-bar {
    background-color: $primary-color;
    color: $text-color;
    position: fixed;
    top: 0;
    left: -70%;
    width: 50%;
    height: 100vh;
    padding: $default-size;
    transition: 0.5s;
    z-index: 4;

    p {
        i {
            float: right;
            font-size: 25px;
        }
    }

    ul {
        margin-top: 70px;
        padding: 10px 70px;

        li {
            list-style: none;
            margin-top: 30px;

            a {
                text-decoration: none;
                color: $text-color;
                font-size: $default-size;
            }
        }
    }
}

.img-container {
    background-image: url(imgs/education-day-arrangement-table-with-copy-space2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 60vh;
    margin-top: 30px;

    div {
        padding: 30px;
        width: 40%;

        h1 {
            font-size: 35px;
            margin-bottom: 10px;
        }

        p {
            color: $text-color;
            margin-bottom: $default-size;
        }

        a {
            text-decoration: none;
            margin-right: 30px;
            padding: 15px $default-size;
            background-color: $text-color;
            color: $primary-color;
            cursor: pointer;
            display: inline-block;
            border-radius: $default-size;

            &:hover {
                background-color: $primary-color;
                color: $text-color;
            }
        }

        #explore {
            background-color: $primary-color;
            color: $text-color;

            &:hover {
                background-color: $text-color;
                color: $primary-color;
            }
        }

    }
}

.catagory {
    @include flex(flex, center, center, wrap);
    margin-top: 40px;
    column-gap: $default-size;

    div {
        @include flex(flex, center, center, wrap);
        flex-direction: column;
        flex-basis: 20%;
        background-color: darkgray;
        border-radius: $default-size;
        padding: $default-size;
        cursor: pointer;

        &:hover {
            background-color: $primary-color;
        }

        i {
            background-color: silver;
            padding: 20px 30px;
            font-size: 30px;
            border-radius: 50%;
            position: relative;
        }

        h3 {
            margin-top: 10px;

        }

        p {
            font-size: 14px;
            text-align: center;
            margin-top: 10px;
        }

    }
}

.sensex {
    @include flex(flex, center, center, wrap);
    background-color: wheat;
    padding: $default-size;
    column-gap: 100px;
    margin-top: 40px;

    div {
        text-align: center;

        h1 {
            font-size: 35px;
        }

        h5 {
            color: darkgray;
        }
    }
}

footer {
    background-color: $primary-color;
    text-align: center;
    padding: $default-size;

    p {
        font-size: 14px;
    }

    .copyrights {
        margin-top: 10px;
        font-size: 11px;
    }
}

// Media Query

@media screen and (max-width:678px) {
    header {
        h1 {
            font-size: 30px;

            &::first-letter {
                font-size: 35px;
            }
        }

        nav {
            ul {
                display: none;
            }
        }

        p {
            display: block;
        }
    }

    .searchBar {
        input {
            padding: 8px;
            width: 60%;
        }

        i {
            padding: 9px 20px;
        }
    }

    .sidenav-bar {
        ul {
            margin-top: 50px;
            padding: 10px 30px;
        }
    }

    .img-container {
        background-image: none;
        height: 30vh;

        div {
            padding: 10px;
            width: 90%;
            flex-wrap: wrap;

            h1 {
                font-size: 16px;
            }

            p {
                color: $secondary-color;
                font-size: 11px;
                margin-top: $default-size;
            }

            a {
                margin-top: 30px;
                padding: 10px 15px;
                background-color: $secondary-color;
                font-size: 13px;
            }

            #explore {
                &:hover {
                    background-color: $secondary-color;
                }
            }
        }

    }

    .catagory {
        flex-direction: column;
        margin-top: $default-size;
        row-gap: 30px;
        padding: 30px;

        div {
            flex-basis: 100%;

            i {
                padding: 15px 25px;
                font-size: 20px;

            }

            p {
                font-size: 11px;
            }

        }
    }

    .sensex {
        row-gap: $default-size;

        div {
            h1 {
                font-size: 17px;
            }

            h5 {
                font-size: 11px;
            }
        }
    }

    footer {
        h1 {
            font-size: 22px;
        }

        p {
            font-size: 12px;
        }

        .copyrights {
            font-size: 11px;
        }
    }

}